.searchStyle{
    background-color: #94E6C8;
    margin-top:10px;
margin-bottom: 10px;
border-color: #94E6C8;
width: 15vw;
height: 6vh;
}
input:focus{
    outline: transparent;
    
}
input[type="search"]::-webkit-search-cancel-button{ display: none; }
/*
 clears the ‘X’ from Internet Explorer *
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
 clears the ‘X’ from Chrome 
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
*/